<!DOCTYPE html>
<html>
  <head>
    <title>My First View!!</title>
  </head>
  <body>
    <% d = DateTime.now %> 
    <p> The date is <%= d.strftime("%A, %B %d, %Y") %></p> # see https://ruby-doc.org/stdlib-2.3.1/libdoc/date/rdoc/DateTime.html
    <p>This is the Date file.</p>
  </body>
</html>