<!DOCTYPE html>
<html>
  <head>
    <title>My First View!!</title>
  </head>
  <body>
    <% d = DateTime.now %> 
    <p> The date is <%= d.strftime("%A, %B %d, %Y") %></p>
    <p>This is the Date file.</p>
  </body>
</html>